<div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Burger Construction Web App</a>
        </div>
      </div>
    </nav>

{{!-- First Major Row --}}
  <div class="row">
    
    {{!-- Begin to break up the application.  Inputs on the far left --}}
    <div class="col-md-4" align="center">
      <h4>Make The Burger!</h4>
     <img src="/assets/img/burger.png" alt="Burger" width="125" height="125">
      <br>
      <br>
      <div id="form">
        <textarea name="locations" placeholder='Insert Burger and Ingredients'
          rows="2" class="form-control"></textarea>
        <br>
        <button type="button" class="btn btn-primary">Submit</button>
        <br>
      </div>
    </div>

      {{!-- Burgers Available to Devour --}}
      <div class="col-md-4" align="center">
      <h4>Available Burgers!</h4>

        {{burger_data}}
      </div>

      {{!-- Devoured Burgers --}}
      <div class="col-md-4" align="center">
      <h4>Devoured Burgers!</h4>

      </div>

  {{!-- End First Major Row --}}
</div>